<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bangexam.bangexam.mapper.EssayQuestionMapper">
    <sql id="Base_Column_List_one">
        question_no as questionNo,type_id as type,question_info as questionInfo,answer as answer
    </sql>

    <select id="findAllEssayQuestion" resultType="com.bangexam.bangexam.model.EssayQuestion">
        select
        <include refid="Base_Column_List_one"/>
        from essay_question eq order by eq.question_no desc
    </select>
</mapper>