<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bangexam.bangexam.mapper.QuestionMapper">

    <sql id="Base_Column_List_one">
        question_no as questionNo, type as type, major_type as majorType, question_info as questionInfo,option_a  as optionA,option_b  as optionB,option_c  as optionC, option_d as optionD, answer as answer,answer_explain  as answerExplain
    </sql>

    <sql id="Base_Column_List_two">
        type, major_type, question_info, option_a, option_b, option_c, option_d, answer, answer_explain
    </sql>


    <select id="getAllQuestionByPage" resultType="com.bangexam.bangexam.model.Question">
        select
        *
<!--&#45;&#45;         <include refid="Base_Column_List_one"/>-->
        from question q order by q.question_no limit #{startPosition}, #{limit}
    </select>

    <insert id="saveQuestion" parameterType="com.bangexam.bangexam.model.Question" useGeneratedKeys="true"
            keyProperty="questionNo" keyColumn="question_no">
        insert into question(<include refid="Base_Column_List_two"/>)
        values(#{type}, #{majorType}, #{questionInfo}, #{optionA}, #{optionB}, #{optionC}, #{optionD}, #{answer}, #{answerExplain})
    </insert>

    <insert id="saveQuestions"  parameterType="list">
        insert into question (<include refid="Base_Column_List_two"/>) values
        <foreach collection="list" index="index" item="item" separator="," >
            (#{item.type}, #{item.majorType}, #{item.questionInfo}, #{item.optionA}, #{item.optionB}, #{item.optionC}, #{item.optionD}, #{item.answer}, #{item.answerExplain})
        </foreach>
    </insert>

    <select id="getQuestionByQuestionNo" parameterType="Integer" resultType="com.bangexam.bangexam.model.Question">
        select
        <include refid="Base_Column_List_one"/>
        from question where question_no = #{questionNo}
    </select>

    <sql id="Type_MajorType">
        <where>
            <if test="majorType != null">
                major_type = #{majorType}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
        </where>
    </sql>

    <select id="countQuestionByMajorTypeAndType" resultType="Integer">
        select count(*) from question <include refid="Type_MajorType"/>

    </select>

    <select id="getQuestionByMajorTypeAndType" resultType="com.bangexam.bangexam.model.Question">
        select
        <include refid="Base_Column_List_one"/>
        from question <include refid="Type_MajorType"/>
    </select>

    <update id="updateQuestion" parameterType="com.bangexam.bangexam.model.Question">
        update question ep
        <set>
            <if test="questionInfo != null">
                question_info = #{questionInfo},
            </if>
            <if test="majorType != null">
                major_type = #{majorType},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="optionA != null">
                option_a = #{optionA},
            </if>
            <if test="optionB != null">
                option_b = #{optionB},
            </if>
            <if test="optionC != null">
                option_c = #{optionC},
            </if>
            <if test="optionD != null">
                option_d = #{optionD},
            </if>
            <if test="answer != null">
                answer = #{answer},
            </if>
            <if test="answerExplain != null">
                answer_explain = #{answerExplain},
            </if>
        </set>
        where ep.question_no = #{questionNo}
    </update>
</mapper>