<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bangexam.bangexam.mapper.ScoreMapper">
    <sql id="Base_Column_List_one">

    </sql>

    <select id="getUserScoreTrueQuestionNum" resultMap="ResultScoreAndUser">
        select s.user_id userId, eu.user_name, sum(true_number) trueNumber
        from score s
        inner join exam_user eu on s.user_id = eu.user_id
        inner join exam_paper ep ON ep.paper_no = s.paper_id
        where eu.user_status = 1
        <if test="majorType != null">
            and ep.major_type = #{majorType}
        </if>
        group by s.user_id
        order by trueNumber desc
        <if test="limit != null and start != null">
            limit #{start}, #{limit}
        </if>
    </select>

    <select id="record" parameterType="java.lang.Integer" resultMap="ResultScoreAndPaper">
        select s.score_id, s.score, s.exam_time examTime, ep.paper_name paperName
        from score s
        inner join exam_paper ep on s.paper_id = ep.paper_no
        where s.user_id = #{userId}
    </select>

    <resultMap id="ResultScoreAndUser" type="com.bangexam.bangexam.model.Score">
        <id property="scoreId" column="score_id"/>
        <result property="trueNumber" column="trueNumber"/>
        <association property="user" javaType="com.bangexam.bangexam.model.User">
            <id property="id" column="userId"/>
            <result property="username" column="user_name"/>
        </association>
    </resultMap>

    <resultMap id="ResultScoreAndPaper" type="com.bangexam.bangexam.model.Score">
        <id property="scoreId" column="score_id"/>
        <result property="score" column="score"/>
        <result property="examTime" column="examTime"/>
        <association property="examPaper" javaType="com.bangexam.bangexam.model.ExamPaper">
            <id property="paperNo" column="paper_no"/>
            <result property="paperName" column="paperName"/>
        </association>
    </resultMap>
</mapper>