<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <header th:replace="header::html"></header>
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>

<div class="layui-fluid">
    <div class="layui-row  layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form  layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn"  lay-submit="" lay-filter="search"
                                    permission="sys:user:query"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>

                <div class="layui-card-header">
                    <button class="layui-btn layui-btn-danger" data-type="getCheckData"><i class="layui-icon"></i>
                        批量删除</button>
                    <button class="layui-btn" onclick="xadmin.open('添加用户','/user/add',600,300)"><i
                            class="layui-icon"></i>添加用户</button>
                </div>

                <div class="layui-card-body ">
                    <table class="layui-table" id="table" lay-filter="demo" ></table>
                </div>

                <div class="layui-card-body ">
                    <script type="text/html" id="barDemo">
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use('table', function(){
        var table = layui.table;
        var form = layui.form;

        //第一个实例
        table.render({
            elem: '#table'
            ,url: '/user/list' //数据接口
            ,page: true //开启分页
            ,response: {
                countName: 'count', //规定数据总数的字段名称，默认：count
                dataName: 'datas' //规定数据列表的字段名称，默认：data
            }
            ,cols: [
                [ //表头
                    {type: 'checkbox'}
                    ,{field: 'id', title: 'ID', sort: true}
                    ,{field: 'username', title: '用户名'}
                    ,{field: 'status', title: '状态', templet: function(d){
                        return d.status == '1' ? '是' : '否';
                    }}
                    ,{title:'操作', toolbar: '#barDemo' }
                ]
            ]
            ,id: 'table'
        });

        //搜索监听提交
        form.on('submit(search)', function(data){
            var username = data.field.username;
            table.render({
                elem: '#table'
                ,url: '/user/findUserByFuzzyUserName' //数据接口
                ,page: true //开启分页
                ,where:{
                    "username":username
                }
                ,response: {
                    countName: 'count', //规定数据总数的字段名称，默认：count
                    dataName: 'datas' //规定数据列表的字段名称，默认：data
                }
                ,cols: [
                    [ //表头
                        {type: 'checkbox', fixed: 'left'}
                        ,{field: 'id', title: 'ID', sort: true}
                        ,{field: 'username', title: '用户名'}
                        ,{field: 'status', title: '状态', templet: function(d){
                            return d.status == '1' ? '是' : '否';
                        }}
                        ,{title:'操作', toolbar: '#barDemo' }
                    ]
                ]
            });
            return false;
        });

        //监听工具条--删除与编辑
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    $.ajax({
                        url:"/user/delete",
                        type:"GET",
                        data:{id:data.id},
                        dataType:'json',
                        success:function(result){
                            layer.alert("删除成功", {icon: 1},function (index1) {
                                layer.close(index1);
                                //对整个窗口进行刷新
                                // xadmin.father_reload();
                                //对表进行刷新
                                table.reload('table');
                            });
                        },
                    });

                });
            } else if(obj.event === 'edit'){
                xadmin.open('编辑用户信息','/user/edit/?id='+data.id , 600,300);
            }
        });

        // //监听表格复选框选择
        // table.on('checkbox(demo)', function(obj){
        //     console.log(obj)
        // });

        //批量删除
        var $ = layui.$, active = {
            getCheckData: function () { //获取选中数据
                var checkStatus = table.checkStatus('table')
                    , data = checkStatus.data
                    , deList=[];
                // console.log(data);
                // layer.alert(JSON.stringify(data));
                data.forEach(function(n,i){
                    deList.push(n.id);
                });
                console.log(deList);
                if(deList!=''){
                    layer.confirm('确定删除所选项吗？', function(index){
                        $.ajax({
                            url: '/user/delall',
                            type:'POST',
                            dataType:'json',
                            // contentType:"application/json",
                            data:{"id":deList},
                            success:function (result) {
                                if(result.code == 200){
                                    layer.alert("删除成功", {icon: 1},function (index1) {
                                        layer.close(index1);
                                        //对整个窗口进行刷新
                                        // xadmin.father_reload();
                                        //对表进行刷新
                                        table.reload('table');
                                    });
                                }else{
                                    layer.msg('删除失败');
                                }
                            },
                            'error':function () {
                                layer.msg('系统错误');
                            }
                        })
                    })
                }else{
                    layer.alert("请选择需要删除的行");
                }
            }
        };
        $('.layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });

</script>

</body>
</html>